In [1]:
import pandas as pd

Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [10]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
ratings_movies = movies.merge(ratings, on='movieId', how='left')
ratings_movies.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

In [19]:
ratings_movies[ ratings_movies.rating == 5]['title'].value_counts(normalize = True)

Shawshank Redemption, The (1994)                              0.011581
Pulp Fiction (1994)                                           0.009310
Forrest Gump (1994)                                           0.008781
Matrix, The (1999)                                            0.008251
Star Wars: Episode IV - A New Hope (1977)                     0.007872
                                                                ...
Windtalkers (2002)                                            0.000076
Incredibly True Adventure of Two Girls in Love, The (1995)    0.000076
Fletch Lives (1989)                                           0.000076
Aladdin and the King of Thieves (1996)                        0.000076
Match Factory Girl, The (Tulitikkutehtaan tyttö) (1990)       0.000076
Name: title, Length: 2954, dtype: float64

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [30]:
power = pd.read_csv('power.csv')

In [23]:
power ['country'].unique()

array(['Austria', 'Belgium', 'Czechia', 'Finland', 'France', 'Greece',
       'Hungary', 'Italy', 'Korea, Republic of', 'Netherlands', 'Romania',
       'Serbia', 'Slovakia', 'Ukraine', 'United Kingdom', 'United States',
       'Brunei Darussalam', 'Bulgaria', 'Canada', 'Chile', 'Croatia',
       'Iran (Islamic Rep. of)', 'Jordan', 'Lithuania', 'Mexico', 'Oman',
       'Other Asia', 'Poland', 'Portugal', 'Spain', 'Sweden',
       'Switzerland', 'T.F.Yug.Rep. Macedonia', 'Turkey', 'Uzbekistan',
       'Argentina', 'Colombia', 'Germany', 'Norway', 'Australia',
       'China, Macao SAR', 'Japan', 'Denmark', 'Ireland', 'Philippines',
       'Bangladesh', 'Eritrea', 'Ethiopia', 'Lesotho', 'Nepal', 'Niger',
       'Pakistan', 'Serbia and Montenegro', 'Tunisia', 'Botswana',
       'Georgia', 'Republic of Moldova', 'Peru', 'South Africa',
       'Iceland', 'Latvia', 'Luxembourg', 'Cuba', 'Kyrgyzstan',
       'Singapore', 'Thailand', 'United Arab Emirates', 'Uruguay',
       'Armenia', 'Fiji', "Korea, Dem.Ppl's.Rep.", 'Russian Federation',
       'Swaziland', 'Zimbabwe', 'Afghanistan', 'Antigua and Barbuda',
       'Azerbaijan', 'Bahamas', 'Belize', 'Bolivia (Plur. State of)',
       'Brazil', 'Burkina Faso', 'Cameroon', 'Cayman Islands',
       'Central African Rep.', 'China', 'Comoros', 'Congo', 'Costa Rica',
       "Côte d'Ivoire", 'Dem. Rep. of the Congo', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Ethiopia, incl. Eritrea', 'Faeroe Islands', 'French Guiana',
       'Germany, Fed. R. (former)', 'Greenland', 'Guatemala', 'Guinea',
       'Guyana', 'Honduras', 'Indonesia', 'Israel', 'Jamaica', 'Jersey',
       'Kazakhstan', 'Kenya', 'Kuwait', "Lao People's Dem. Rep.",
       'Liberia', 'Libya', 'Malawi', 'Malaysia', 'Maldives', 'Mauritania',
       'Mayotte', 'Morocco', 'Myanmar', 'Namibia', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niue', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Sao Tome and Principe', 'Senegal', 'Seychelles',
       'Slovenia', 'Solomon Islands', 'Sri Lanka', 'Sudan (former)',
       'Suriname', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'United Rep. of Tanzania', 'Venezuela (Bolivar. Rep.)',
       'Yugoslavia, SFR (former)', 'Zambia', 'Algeria', 'Curaçao',
       'Gabon', 'Malta', 'Neth. Antilles (former)', 'Sierra Leone',
       'USSR (former)', 'Barbados', 'Benin', 'Chad', 'Djibouti',
       'French Polynesia', 'Ghana', 'Grenada', 'Guadeloupe', 'Haiti',
       'Iraq', 'Kiribati', 'Madagascar', 'Mali', 'Martinique',
       'Pacific Islands (former)', 'Palau', 'St. Helena and Depend.',
       'St. Vincent-Grenadines', 'Syrian Arab Republic', 'Uganda',
       'Yemen', 'Yemen, Dem. (former)', 'Burundi', 'India', 'Mauritius',
       'Mozambique', 'Nigeria', 'Réunion', 'Rwanda', 'Samoa', 'Somalia',
       'St. Kitts-Nevis', 'Viet Nam', 'Belarus', 'Cyprus', 'Cabo Verde',
       'Albania', 'Bahrain', 'Bosnia and Herzegovina',
       'China, Hong Kong SAR', 'Czechoslovakia (former)', 'Angola',
       'Bermuda', 'Bhutan', 'Equatorial Guinea', 'Lebanon',
       'Saudi Arabia', 'St. Lucia', 'St. Pierre-Miquelon',
       'State of Palestine', 'Tajikistan', 'German Dem. R. (former)',
       'Anguilla', 'Mongolia', 'Montenegro', 'Cambodia', 'South Sudan',
       'Sudan', 'Andorra', 'Aruba', 'Bonaire, St Eustatius, Saba',
       'British Virgin Islands', 'Dominica', 'Falkland Is. (Malvinas)',
       'Gambia', 'Gibraltar', 'Qatar', 'Sint Maarten (Dutch part)',
       'Turkmenistan', 'Turks and Caicos Islands', 'Vanuatu',
       'Guinea-Bissau', 'Micronesia (Fed. States of)', 'Timor-Leste',
       'Yemen Arab Rep. (former)', 'American Samoa', 'Liechtenstein',
       'Puerto Rico', 'Cook Islands', 'Guam', 'Guernsey', 'Isle of Man',
       'Marshall Islands', 'Montserrat', 'Nauru',
       'Northern Mariana Islands', 'Tuvalu', 'United States Virgin Is.',
       'Wallis and Futuna Is.',
       'Commonwealth of Independent States (CIS)', 'Antarctic Fisheries'],
      dtype=object)

In [35]:
 pribalt = power[ (power['country']=='Estonia') | (power['country']=='Latvia') | (power['country'] == 'Lithuania')].head()

In [39]:
summ = 0
for x in pribalt['quantity']:
    summ += x
summ

756.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [47]:
pd.read_html('https://en.wikipedia.org/wiki/List_of_Moscow_Metro_stations')[4]

,vteMoscow Metro,vteMoscow Metro.1
0,Expansion timeline Stations list Bridges Luzhn...,Expansion timeline Stations list Bridges Luzhn...
1,Sokolnicheskaya line,Kommunarka Olkhovaya Prokshino Filatov Lug Sal...
2,Zamoskvoretskaya line,Khovrino Belomorskaya Rechnoy Vokzal Vodny Sta...
3,Arbatsko-Pokrovskaya line,Pyatnitskoye Shosse Mitino Volokolamskaya Myak...
4,Filyovskaya line,Main Kuntsevskaya Pionerskaya Filyovsky Park B...
5,Main,Kuntsevskaya Pionerskaya Filyovsky Park Bagrat...
6,Branch,Kiyevskaya Vystavochnaya Mezhdunarodnaya
7,Koltsevaya line,(← Loop towards Krasnopresnenskaya) Belorusska...
8,Kaluzhsko-Rizhskaya line,Novoyasenevskaya Yasenevo Tyoply Stan Konkovo ...
9,Tagansko-Krasnopresnenskaya line,Planernaya Skhodnenskaya Tushinskaya Spartak S...
10,Kalininskaya line Solntsevskaya line,Vnukovo Pykhtino Rasskazovka Novoperedelkino B...
11,Serpukhovsko-Timiryazevskaya line,Altufyevo Bibirevo Otradnoye Vladykino Petrovs...
12,Lyublinsko-Dmitrovskaya line,Lianozovo Ulitsa 800-letiya Moskvy Seligerskay...
13,Bolshaya Koltsevaya line(incl. Kakhovskaya line),Savyolovskaya Petrovsky Park CSKA Khoroshyovsk...
14,Butovskaya line,Bittsevsky Park Lesoparkovaya Ulitsa Starokach...
15,Moscow Monorail,Timiryazevskaya Ulitsa Milashenkova Teletsentr...
16,Moscow Central Circle,(← Loop towards Likhobory) Okruzhnaya Vladykin...
17,Nekrasovskaya line,Nizhegorodskaya Stakhanovskaya Okskaya Ulitsa ...
18,Disasters / attacks 1977 Moscow bombings Febru...,Disasters / attacks 1977 Moscow bombings Febru...